.git
.gitignore
.env
.env.backup
.env.production
.phpunit.cache
node_modules
vendor
storage/logs
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/build
public/hot
tests
README.md
